---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pihole-operator.org
  resources:
  - blocklists
  - piholednsrecords
  - piholes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pihole-operator.org
  resources:
  - blocklists/finalizers
  - piholednsrecords/finalizers
  - piholes/finalizers
  verbs:
  - update
- apiGroups:
  - pihole-operator.org
  resources:
  - blocklists/status
  - piholednsrecords/status
  - piholes/status
  verbs:
  - get
  - patch
  - update
